body{
	background-color: rgb(248, 237, 235);
	height: auto;
}
main {
	width: 90vw;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 0.5em;
	margin: 10px;
}
.character {
	background-color: rgb(248, 237, 235);
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid black 5px;
	width: 96vw;
}
.character img {
	width: 300px;
	height: 305px;
}
.character p {
	margin: 0.5em;
	margin-top: 0em;
	margin-bottom: 1em;
	text-align: center; 
	font-size: 25px;
}
#Chiikawa {
	grid-area: 1 / 1 / 2 / 6;
}
#Hachiware {
	grid-area: 2 / 1 / 3 / 6;
}
#Usagi {
	grid-area: 3 / 1 / 4 / 6;
}
#Momonga {
	grid-area: 4 / 1 / 5 / 6;
}
#Rakko {
	grid-area: 5 / 1 / 6 / 3;
	width: 48vw;
}
#Kurimanju {
	grid-area: 5 / 3 / 6 / 5;
	width: 47.5vw;
}
video {
	width: 560px; 
	height: 315px;
	border: ;
	box-shadow: 5px 5px 9px black;
	margin: 1em;
}
footer {
	background-color: white;
}