/* Code for the body */
body{
	background-color: rgb(248, 237, 235);
	height: auto;
}

/* Code for the main */
main {
	width: 90vw;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 0.5em;
	margin: 10px;
}

/* Code for the class named character */
.character {
	background-color: rgb(248, 237, 235);
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid black 5px;
	border-radius: 10px;
	width: 96vw;
}
.character img {
	width: 300px;
	height: 305px;
}
.character h2 {
	color: white;
}
.character p {
	margin: 0.5em;
	margin-top: 0em;
	margin-bottom: 1em;
	border: solid white 20px;
	border-radius: 10px;
	background-color: white;
	text-align: center; 
	font-size: 25px;
}

/* Code for the id Chiikawa */
#Chiikawa {
	grid-area: 1 / 1 / 2 / 6;
	background-color: rgb(224, 167, 189);
}

/* Code for the id Hachiware */
#Hachiware {
	grid-area: 2 / 1 / 3 / 6;
	background-color: rgb(167, 188, 224);
}

/* Code for the id Usagi */
#Usagi {
	grid-area: 3 / 1 / 4 / 6;
	background-color: rgb(224, 223, 167);
}

/* Code for the id Momonga */
#Momonga {
	grid-area: 4 / 1 / 5 / 6;
	background-color: rgb(167, 213, 224);
}

/* Code for the id Rakko */
#Rakko {
	grid-area: 5 / 1 / 6 / 3;
	width: 48vw;
	background-color: rgb(224, 205, 167);
}

/* Code for the id Kurimanju */
#Kurimanju {
	grid-area: 5 / 3 / 6 / 5;
	width: 47.5vw;
	background-color: rgb(167, 224, 200);
}

/* Code for the id video */
#video {
	width: 560px; 
	height: 315px;
	box-shadow: 5px 5px 9px black;
	margin: 1em;
}

/* Code for the id foot (footer) */
#foot {
	background-color: white;
	display: flex;
	flex-direction: row;
	text-align: center;
}
#foot h1 {
	border: double black 5px;
	margin-right: 2em;
	background-color: rgb(242, 160, 190);
	font-size: 25px;
	color: white;
}
#foot p {
	font-size: 20px;
}
#foot a:link {
	color: rgb(245, 143, 197);
}
#foot a:visited {
	color: rgb(171, 65, 127);
}
#foot a:hover {
	color: rgb(143, 203, 245);
}

/* Code for the media queries */
@media (max-width: 900px){
	#video {
		width: 350px; 
		height: 250px;
	}
	main {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
	.character {
		font-size: 15px;
	}
	#Chiikawa {
		grid-area: 1 / 1 / 2 / 6;
	}
	#Hachiware {
		grid-area: 2 / 1 / 3 / 6;
	}
	#Usagi {
		grid-area: 3 / 1 / 4 / 6;
	}
	#Momonga {
		grid-area: 4 / 1 / 5 / 6;
	}
	#Rakko {
		grid-area: 5 / 1 / 6 / 6;
		width: 96vw;
	}
	#Kurimanju {
		grid-area: 6 / 1 / 7 / 6;
		width: 96vw;
	}
	#foot {
		display: flex;
		flex-direction: column;
	}
}