body{
	background-color: rgb(248, 237, 235);
	height: auto;
}
main {
	width: 90vw;
	display: grid;
	/* grid-row: repeat(2, 1fr); */
	/* grid-column: repeat(2, 1fr); */
	gap: 1em;
	margin: 10px;
}
.character {
	background-color: rgb(248, 237, 235);
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid black 5px;
	width: 96vw;
}
.character img {
	width: 300px;
	height: 305px;
}
.character p {
	margin: 0.5em;
	margin-top: 0em;
	margin-bottom: 1em;
	text-align: center; 
	font-size: 25px;
}
video {
	width: 560px; 
	height: 315px;
	border: ;
	box-shadow: 5px 5px 9px black;
	margin: 1em;
}
footer {
	background-color: white;
}