article a {
    text-decoration: none;
    color: inherit;
}

.storySection {
    transition: transform 0.25s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.storySection:hover {
    transform: scale(1.05);
    z-index: 2;
}

main {
    padding-top: 2em;
    max-width: 100vw;
}

article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    max-width: 100vw;
}

article a section {
    text-align: center;
    margin-bottom: 2rem;
    background: white;
    width: 100%;
    max-width: 60vw;
    margin: 0 auto 2em auto;
    background: #fff;
    border: solid 0.5vmin black;
    border-radius: 2vmin;
    box-shadow: 0 0.3vmin 2vmin rgba(0, 0, 0, 0.07);
    padding: 4vmin 3vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#theWorldSection {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#theFirstCivilWarSection {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#theFirstCivilWarSection {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#chiikawaWorldWarSection {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

#Nations {
    grid-column: 1/2;
    grid-row: 2/3;
}

#Cultures {
    grid-column: 2/3;
    grid-row: 2/3;
}

@media (max-width: 800px) {
    article {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        width: 100vw;
        max-width: 100vw;
        max-height: 100vw;
        box-sizing: border-box;
        padding: 0;
    }

    article a section {
        max-width: 100vw;
        width: 100vw;
        margin: 0 auto 2vmin auto;
        box-sizing: border-box;
        padding: 4vmin 2vmin;
    }
    #theWorldSection, #theFirstCivilWarSection, #chiikawaWorldWarSection, #Nations, #Cultures {
        grid-column: 1 / 2;
    }
    #theFirstCivilWarSection {
        grid-row: 2 / 3;
    }

    #chiikawaWorldWarSection {
        grid-row: 6 / 7;
    }
    #Nations {
        grid-row: 4 / 5;
    }
    #Cultures {
        grid-row: 5 / 6;
    }
}