article a {
    text-decoration: none;
    color: inherit;
}

article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

#theWorldSection {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;
    margin-bottom: 2rem;
    background: white;
    width: 100%;
    max-width: 900px;
    margin: 0 auto 2em auto;
    background: #fff;
    border: solid 5px black;
    border-radius: 16px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
    padding: 2em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}